<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Images Process API</title>
  </head>
  <body>
    <h1>Welcome to image-processing-api</h1>
    <p>List images available:</p>
    <ul>
      <li>
        <a href="/api/images?filename=vinh ha long"
          >/api/images?filename=vinh ha long</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/images?filename=cau vang"
          >/api/images?filename=cau vang</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/images?filename=fanxifang"
          >/api/images?filename=fanxifang</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/images?filename=hoi an">/api/images?filename=hoi an</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/images?filename=thap cham"
          >/api/images?filename=thap cham</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <a href="/api/images?filename=flagofVietnam"
          >/api/images?filename=flagofVietnam</a
        >
      </li>
    </ul>
  </body>
</html>
